<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step *ngFor="let section of formSections; let i = index" [stepControl]="section.formGroup">
      <form [formGroup]="section.formGroup">
        <ng-template matStepLabel>{{section.title[pageLanguage]}}</ng-template>
        <h2>{{section.title[pageLanguage]}}</h2>
        <div *ngFor="let q of section.questions">
          <h4>{{q.question[pageLanguage]}}</h4>
          <mat-radio-group [formControlName]="q.id">
            <mat-radio-button *ngFor="let a of q.answers[pageLanguage]" [value]="a.value">
                {{a.text}}
            </mat-radio-button>      
          </mat-radio-group>
        </div>

        <div class="bottom">
          <button mat-raised-button matStepperPrevious *ngIf="i!=0">{{questionnaireObj.back[pageLanguage]}}</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="!section.isComplete">{{questionnaireObj.next[pageLanguage]}}</button>
          <span class="mat-subheading-2" *ngIf="!section.isComplete">{{questionnaireObj.allRequired[pageLanguage]}}</span>          
        </div>
     
      </form>    
  </mat-step>  


  <mat-step>
    <ng-template matStepLabel>{{questionnaireObj.done[pageLanguage]}}</ng-template>

    <h4>{{questionnaireObj.recommendation[pageLanguage]}}</h4>

    <div *ngIf="recommendation">  
      <div [innerHTML]="recommendation.content[pageLanguage]"></div>   
    </div>


    <div class="bottom">
      <button mat-raised-button matStepperPrevious>{{questionnaireObj.back[pageLanguage]}}</button>
      <button mat-raised-button (click)="stepper.reset()">{{questionnaireObj.reset[pageLanguage]}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<router-outlet></router-outlet>
